.gallery {

    height: 100vh;
    margin-left: 140px;
    margin-right: 140px;
    position: relative;

}

.gallery > section:first-child {
    position: absolute;
    top: 100px;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(45, 205, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gallery > section:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1px; /* Gap between images */
    width: fit-content;
    height: fit-content;
}

.gallery > section:nth-child(2) > img {
    max-height: 250px; /* Set the maximum height for the images */
    width: 100%; /* Ensure the images fit within their respective grid cells */
}

@media all and (max-width: 1115px) {
    .gallery {
        position: relative;
        height: 100vh;
        margin-left: 90px;
        margin-right: 90px;
    }


}

@media all and (max-width: 1000px) {
    .gallery > section:nth-child(2) > img {
        max-height: 200px;
        width: 100%;
    }


}

@media all and (max-width: 850px) {
    .gallery {
        position: relative;
        height: 100vh;
        margin-left: 70px;
        margin-right: 70px;
    }


}


@media all and (max-width: 768px) {

    .gallery {
        position: relative;
        width: 100%;
        /* height: 100vh; */
        margin: 0 auto;
        top: 170px;
    }
    .gallery > section:nth-child(2) {
        position: absolute;
        left: 0;
        right: 0;
        top: 180px;
        bottom: 0;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        width: fit-content;
        height: fit-content;
    }

}

@media all and (max-width: 610px) {

    .gallery {
        position: relative;
        width: 100%;
        /* height: 100vh; */
        margin: 0 auto;
        top: 980px;
    }

    .gallery > section:nth-child(2) {
        position: relative;
        left: 0;
        right: 0;

        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1px;
        width: fit-content;
        height: fit-content;
    }



}