

* {
    font-family: 'Inter', sans-serif;
    margin: auto;
}

main {
    position: relative;
}

.home {
    position: relative;
    height: 100vh;
    margin-left: 140px;
    margin-right: 140px;
}

body > header {
    width: 100%;
    height: 60px;
    margin: 0;
    background: #ffffff;
    position: fixed;
    z-index: 10;
}

body > header > nav > ol {
    position: absolute;;
    list-style: none;
    padding: 0;
    display: block;
    top: 30px;
    right: 140px;
    margin: auto;
}

body > header > nav > ol > li {
    display: inline;
    padding: 18px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
}

.main > section:first-child {

    position: absolute;
    top: 180px;


}

.main > section:nth-child(2) {

    position: absolute;
    top: 50px;
    right: 0;


}

.main > section:nth-child(2) > img {


    height: 600px;
}

.main > section:first-child > span {
    display: block;
    font-weight: bolder;
    font-size: 75px;
}

.main > section:first-child > span:nth-child(3) {
    display: block;
    font-weight: bolder;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main > section:first-child > span:nth-child(2) > span {
    color: #2DCDFF;
}

.main > section:first-child > button {

    background: #2DCDFF;
    width: 210px;
    height: 53px;
    border-radius: 30px;
    border: #2DCDFF;
    padding-bottom: 30px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main > section:first-child > button > span {

    font-weight: bolder;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

/*body > div > div:first-child {
    background: #D4F2FC;
    height: 1100px;
    width: 750px;
    position: absolute;
    right: 0;
    bottom: 1px;
    border-radius: 100%;
    z-index: -100;
}

body > div > div:nth-child(2) {
    background:white;
    height: 368px;
    width: 370px;
    position: absolute;
    right: -50px;
    top: -100px;
    border-radius: 100%;
    z-index: -100;
}*/

.main > section:first-child > div > div {
    background: rgba(0, 0, 0, 0.36);
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 100%;
}

.main > section:first-child > div {
    padding-top: 30px;

}

.main > section:first-child > div > div {
    position: relative;
}

.main > section:first-child > div > div > a > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

