







/*Assignment page*/
.assigment {
    height: 100vh;
    margin-left: 140px;
    margin-right: 140px;
    /*  background: #e9faff;*/
    position: relative;
}

.assigment section:first-child > div {

    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 70px;
}

.assigment section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
}

/*.assigment section:nth-child(2) > div {
    border: 1px solid #2DCDFF;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    position: relative;
}

.assigment section:nth-child(2) > div > a > button {
    background: #2DCDFF;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: #2DCDFF;
    padding-bottom: 30px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;

}*/
.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 120px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 99999;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: black;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 20px;
}

.content .para {
    line-height: 1.5;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, white 0%, #e9faff 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #2DCDFF 0%, #cbf1ff 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    height: 100%;
}

.card:hover {
    box-shadow: none;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

/*Skills Page*/

.skills {
    height: 100vh;
    margin-left: 140px;
    margin-right: 140px;
    position: relative;

}

.skills > section:first-child {

    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50px;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(45, 205, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.skills > section:nth-child(2) {

    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin: auto;


}

.skills > section:nth-child(3) {

    border: 1px solid #2DCDFF;
    border-radius: 10px;
    width: 800px;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
    display: inline-block;


}

.skills > section:nth-child(3) {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust the column width as needed */
    gap: 10px; /* Adjust the gap between grid items */
    justify-items: center; /* Center items horizontally within each grid cell */
    align-items: center; /* Center items vertically within each grid cell */


}

.skills > section:nth-child(3) > img {

    animation: logos 1200ms alternate infinite linear;


}

.skills > section:nth-child(3) img:nth-last-child(-n+3) {
    grid-column: span 2; /* Span two columns */
    justify-self: center; /* Center horizontally within the grid cell */
}

@keyframes logos {

    from {
        height: 40px;
    }

    to {
        height: 55px;
    }
}

.gallery {

    height: 100vh;
    margin-left: 140px;
    margin-right: 140px;
    position: relative;

}

.gallery > section:first-child {
    position: absolute;
    top: 100px;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(45, 205, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gallery > section:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1px; /* Gap between images */
    width: fit-content;
    height: fit-content;
}

.gallery > section:nth-child(2) > img {
    max-height: 250px; /* Set the maximum height for the images */
    width: 100%; /* Ensure the images fit within their respective grid cells */
}


.contact {
    height: 70vh;
    margin-left: 140px;
    margin-right: 140px;
    position: relative;
}

.contact > section:first-child > div > h2 {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(45, 205, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact > section:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 500px;
    height: 400px;
    background: #2DCDFF;
    border-radius: 10px;
}

.contact > section:nth-child(2) > div {

    width: fit-content;
    height: fit-content;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.contact > section:nth-child(2) > div > h1 {
    font-size: 100px;
    animation: font 2400ms alternate infinite linear;

}

@keyframes font {

    from {
        font-size: 100px;
        color: black;
    }

    to {
        font-size: 80px;

        color: #5c5d5d;
    }
}

@keyframes icons {

    100% {
        transform: rotate(360deg);
    }


}

.contact > section:nth-child(2) > div:nth-child(2) {
    position: absolute;
    top: 300px;
    margin: auto;
}

.contact > section:nth-child(2) > div:nth-child(2) > div {
    background: rgba(0, 0, 0, 0.36);
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;

}

.contact > section:nth-child(2) > div:nth-child(2) > div {
    position: relative;

}

.contact > section:nth-child(2) > div:nth-child(2) > div > a > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: icons 3600ms alternate infinite linear;

}

.contact > section:nth-child(3) {
    position: absolute;
    top: 0;
    bottom: 80px;
    right: 30px;
    width: 700px;
    height: 400px;
    background: #b7b9ba;
    border-radius: 10px;
}

.contact_form {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.contact_form > label {
    font-weight: bolder;
    color: #5c5d5d;
}

input[type="text"] {

    width: 360px;
    background: #b7b9ba;
    border: 1px solid black;
}

textarea[type="text"] {

    background: #b7b9ba;
    border: 1px solid black;
}

.contact_form > button {
    position: absolute;
    right: 0;
    background: #2DCDFF;
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 10px;
}

.contact_form > button > span {
    color: white;
    text-align: center;
    font-weight: bold;
}

footer {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: #e9faff;

}

footer > section > h4 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}

footer > section > img {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 250px;
    top: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;


}



